
/carros/venv
/carros/cars/migrations/__pycache__
/carros/app/__pycache__
/carros/accounts/__pycache__
/carros/cars/__pycache__
/carros/accounts/migrations/__pycache__
*.pyc
/carros/app/__pycache__
/carros/app/__pycache__
